/*STYLE BOOKING PAGE */

.main {
    display: inline-block;
    font-size: 0.85rem;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0;
    
    .booking-container {
        /* Overall container */
        display: flex;
        width: 60vw;
        height: auto;
        border-radius: 10px;
        padding: 0 5px 0 0;
        background-color: lighten($secondary-color, 10%);
        box-shadow: 5px 5px darken($secondary-color, 5%);
       
        .left-container {
            /* left side with image container */
            background-image: url('../assets/BookingImg.jpg');
            background-size: cover;
            min-width: 40vh;
            border-radius: 10px 0 0 10px;
        }
        
        .right-container {
            /* right container side with form */
            background: lighten($secondary-color, 10%);
            display: flex;
            padding: 0 20px;
            border-radius: 0 10px 10px 0;
            
            form {
                /*Form styling */
                padding: 10px;
                margin-top: 20px;
                min-height: 80%;
                .form-header {
                    font-size: 2rem;
                }
                .set {
                    /* form element rows */
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px;
                    input,
                    select {
                        margin: 0 10px;
                        border-radius: 4px;
                        border: 1px solid transparent;
                        height: 3.5vh;
                        display: inline-block;
                        padding: 5px;
                        font-family: inherit;
                    }
                    label {
                        display: block;
                        text-align: left;
                        margin-left: 10px;
                        padding: 2px;
                    }
                    
                    #message {
                        /*Message textarea */
                        margin-left: 10px;
                        width: 35vw;
                        min-width: 200px;
                        height: 15vh;
                        min-height: 150px;
                        border-radius: 4px;
                        border: none;
                    } 
                }            
                .serviceType {
                    .radio-container {
                        /*services selector */
                        background: #fff;
                        border-radius: 4px;
                        display: inline-block;
                        padding: 5px;
                        margin-left: 10px;
                        width: 13vw;
                        min-width: 200px;
                        label {
                            background: transparent;
                            border: none;
                            border-radius: 2px;
                            display: inline-block;
                            height: 3vh;
                            line-height: 3vh;
                            text-align: center;
                            transition: .2s all ease-in-out;
                            width: 4vw;
                            min-width: 60px;
                            margin: 0;
                        }
                        input[type="radio"] {
                            display: none;
                        }
                        input[type="radio"]:checked + label {
                            background: $primary-color;
                        }                     
                    }
                        #bridal,
                        #bridalLabel {
                            /* bridal checkbox */
                            display: inline-block;
                            vertical-align: middle;
                            height: 2vh;
                            line-height: 2vh;
                            padding: 5px 0;
                        }
                }
                    .dates input {
                        min-width: 8vw;
                        height: 3.3vh;
                    }
                    .times {
                        select {
                            height: 4.6vh;
                            min-height: 30px;
                        }
                    }
                button {
                     /* Submit button */
                    padding: 20px;
                    border-radius: 4px;
                    border: none;
                    background-color:$primary-color;
                    font-family: inherit;
                    font-weight: bold;
                    font-size: 16px;
                    margin: 5px;
                    &:hover{
                        background-color: darken($primary-color, 20%);
                        cursor: pointer
                    }                
                }
            }
        }
    }
}

/* Mobile styles (Tablet and smaller)*/
@media only screen and (max-width: 768px) {
    .booking-container {
        .left-container {
            display: none;
        }
        .right-container {
            border-radius: 10px;
            .set div {
                margin: 5px 0;
            }
        }
    }
}

