/* STYLE SERVICES PAGE */

/* Flex Container */
.services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Image container - flex item */
.services-block{
    position: relative;
    z-index: 1;
    flex-basis: 30vw;
    min-width: 350px;
    align-self: center;
    height: 55vh;
    margin: 10px;
    margin-bottom: 0;
}

/* Background images */
#hair.services-block {
    background-image: url('../assets/Services_Hair.jpg');
    background-size: cover;
    background-position: center;
}

#face.services-block {
    background-image: url('../assets/Services_Face.jpg');
    background-size: cover;
    background-position: center;
}

#nails.services-block {
    background-image: url('../assets/Services_Nails.jpg');
    background-size: cover;
    background-position: center;
}

/*Price list overlay */
.price-list {
    background-color: #fff;
    opacity: 70%;
    position: relative;
    top: 10%;
    left: 15%;
    width: 20vw;
    min-width: 250px;
    border-spacing: 0 5px;
    flex-shrink: 0;
}

.table-header {
    font-size: 30px;
} 

/* extra info banner along bottom */
.info {
    background-color:$primary-color;
    opacity: 80%;
    text-align: center;
}
